@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondaryColor: #034AA6;
  --beige: #D0DFF2;
}

@layer utilities {
  .flexBetween {
    @apply flex items-center justify-between
  }

  .btnStyle {
    @apply bg-white border border-secondaryColor rounded-3xl p-[0.7rem] pr-[1rem] pl-[1rem] text-secondaryColor transition-colors hover:bg-secondaryColor hover:text-white shadow-btnBoxShadow
  }
}

/* HEADER */
.h1-header {
  text-shadow: -9px 2px 0px var(--secondaryColor);
}

.p-header {
  text-wrap: nowrap;
  word-spacing: 2rem;
}

.bg-header {
  background: url('/img-header.jpg');
  background-position: center center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: var(--beige);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
  cursor: pointer;
  border-radius: 10px;
}
